* {
       margin: 0;
       padding: 0;
}

body {
       background-color: #8ee0ab;
       text-align: center;
}

.container {
       height: 70vh;
       display: flex;
       flex-wrap: wrap;
       justify-content: center;
       align-items: center;
}

.game {
       height: 60vmin;
       width: 60vmin;
       display: flex;
       flex-wrap: wrap;
       justify-content: center;
       align-items: center;
       gap: 1.5vmin;
       ;
}

.box {
       height: 18vmin;
       width: 18vmin;
       border-radius: 1rem;
       border: none;
       box-shadow: 0 0 1rem rgb(142, 134, 134);
       font-size: 10vmin;
       color: red;
       background-color: rgb(217, 217, 141);
}

#reset-btn {
       padding: 1rem;
       font-size: 1rem;
       ;
       background-color: black;
       color: white;
       border-radius: 1rem;
       border: none;
}

#new-btn {
       padding: 1rem;
       font-size: 0.8rem;
       ;
       background-color: black;
       color: white;
       border-radius: 1rem;
       border: none;
}

#msg {
       color: rgb(244, 244, 235);
       font-size: 8vmin;
}

.msg-container {
       height: 20vmin;
}

.hide{
      display: none; 
}